.header{

height:70px;

background:rgb(63, 48, 194);

display:flex;
align-items:center;
justify-content:space-between;

padding:0 30px;

box-shadow:0 2px 8px #ddd;

}


.profile{

background:#2563eb;
color:white;

padding:10px 20px;

border-radius:20px;

}