.sidebar{

    position: fixed;
    top: 0;
    left: 0;

    width: 270px;
    height: 100vh;

    background: #1E293B;
    color: white;

    padding: 20px;

    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;

    transition: transform .35s ease;

    z-index: 1000;
}

nav{

    display:flex;
    flex-direction:column;
    gap:8px;
    width:100%;

}

nav a{

    display:flex;
    align-items:center;
    gap:12px;

    width:100%;

    padding:12px;

    border-radius:8px;

    color:white;

    text-decoration:none;

    box-sizing:border-box;

}

.menu-title{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:12px;

    border:none;

    background:transparent;

    color:white;

    cursor:pointer;

    font-size:15px;

    font-weight:600;

    box-sizing:border-box;

}
.submenu{

    display:flex;

    flex-direction:column;

    margin-left:15px;

    overflow:hidden;

}

@media screen and (max-width:768px){

    .sidebar{

        width:260px;

        transform:translateX(-100%);

    }

    .sidebar.open{

        transform:translateX(0);

    }

    .content{

        margin-left:0;
        padding-top:70px;

    }

    .menuButton{

        display:flex;

        align-items:center;

        justify-content:center;

        width:45px;

        height:45px;

        position:fixed;

        top:15px;

        left:15px;

        z-index:2000;

    }

}