.dashboard{

display:flex;
min-height:100vh;

}


.main{

margin-left:260px;

width:100%;

transition:.3s;

}


.content{

padding:30px;

}



/* bouton mobile */

.mobile-menu{

display:none;

position:fixed;

top:15px;

left:15px;

z-index:1000;

font-size:25px;

border:none;

background:rgb(25, 67, 206);

border-radius:8px;

padding:8px;

}




@media(max-width:768px){



.mobile-menu{

display:block;

}



.sidebar{

transform:translateX(-100%);

transition:.3s;

z-index:999;

}



.sidebar.open{

transform:translateX(0);

}



.main{

margin-left:0;

}



.content{

padding:15px;

padding-top:80px;

}



}