.headerTable{
    background-color: aliceblue;
    text-decoration-color: black;
    border-radius:2px;
};

.ligneClient{
    background-color: white;
    text-decoration-color: black;
    border-radius:2px;
    border-bottom: 1px solid #ddd;
};

.suppButton{
    background-color: red;
}

.profile{

background:#2563eb;
color:white;

padding:10px 20px;

border-radius:20px;

}

.profileSupp{

background:rgb(187, 70, 70);
color:white;

padding:10px 20px;

border-radius:20px;

}

.table-container{

overflow-x:auto;

}


table{

width:100%;
border-collapse:collapse;

}


@media(max-width:600px){


table{

min-width:700px;

}

}