.headerTable{
    background-color: aliceblue;
    text-decoration-color: black;
    border-radius:2px;
};

.ligneClient{
    background-color: white;
    text-decoration-color: black;
    border-radius:2px;
    border-bottom: 1px solid #ddd;
};

.suppButton{
    background-color: red;
}