.product-page{

background:rgb(8, 8, 39);

padding:30px;

border-radius:15px;

box-shadow:0 5px 20px #ddd;

}



.product-form{

display:flex;

flex-direction:column;

gap:18px;

}



.grid{

display:grid;

grid-template-columns:
repeat(2,1fr);

gap:20px;

}



label{

font-weight:600;

display:block;

margin-bottom:5px;

}



input,
select,
textarea{

width:90%;

padding:12px;

border-radius:8px;

border:1px solid #ddd;

}



textarea{

height:100px;

}



.checkbox{

display:flex;

gap:10px;

align-items:center;

}



button{

background:#2563eb;

color:white;

border:none;

padding:14px;

border-radius:8px;

cursor:pointer;

}



@media(max-width:768px){


.grid{

grid-template-columns:1fr;

}


.product-page{

padding:15px;

}


}

.titre{
    text-decoration-color: black;
}