.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:20px;

}


.card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px #ddd;

}


.card p{

font-size:30px;
font-weight:bold;

}